@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.background-primary {
  background-color: #FFFFFF;
}

.background-secondary {
  background-color: #FAFAFA;
}

.background-tertiary {
  background-color: #222222;
}

.background-alternate {
  background-color: #333333;
}

.background-success {
  background-color: #ecfdf3;
}

.background-error {
  background-color: #fef3f2;
}

.border-primary {
  border-color: #CCCCCC;
}

.border-secondary {
  border-color: #333333;
}

.border-tertiary {
  border-color: #444444;
}

.border-alternate {
  border-color: #FFFFFF;
}

.border-success {
  border-color: #027A48;
}

.border-error {
  border-color: #b42318;
}

.text-primary {
  color: #333333;
}

.text-secondary {
  color: #666666;
}

.text-alternate {
  color: #FFFFFF;
}

.text-success {
  color: #027A48;
}

.text-error {
  color: #b42318;
}

.link-primary {
  color: #000000;
}

.link-secondary {
  color: #666666;
}

.link-alternate {
  color: #FFFFFF;
}

.shadow-xxsmall {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.shadow-xsmall {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.shadow-small {
  box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.06);
}

.shadow-medium {
  box-shadow: 0px 12px 16px -4px rgba(0, 0, 0, 0.08), 0px 4px 6px -2px rgba(0, 0, 0, 0.03);
}

.shadow-large {
  box-shadow: 0px 20px 24px -4px rgba(0, 0, 0, 0.08), 0px 8px 8px -4px rgba(0, 0, 0, 0.03);
}

.shadow-xlarge {
  box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.18);
}

.shadow-xxlarge {
  box-shadow: 0px 32px 64px -12px rgba(0, 0, 0, 0.14);
}

h1, .heading-h1, .text-table .section-content ul li strong {
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  h1, .heading-h1, .text-table .section-content ul li strong {
    line-height: 120%;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 600;
  }
}

h2, .heading-h2 {
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  h2, .heading-h2 {
    line-height: 120%;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
  }
}

h3, .heading-h3 {
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  h3, .heading-h3 {
    line-height: 120%;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 700;
  }
}

h4, .heading-h4 {
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  h4, .heading-h4 {
    line-height: 120%;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
  }
}

h5, .heading-h5 {
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  h5, .heading-h5 {
    line-height: 120%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
}

h6, .heading-h6 {
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  h6, .heading-h6 {
    line-height: 120%;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
  }
}

.heading-tagline {
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.text-large-light {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.text-large-normal {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.text-large-medium {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.text-large-semi-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.text-large-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.text-large-extra-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.text-large-link {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
}

.text-medium-light {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.text-medium-normal {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.text-medium-medium, .banner-right ul {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.text-medium-semi-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.text-medium-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.text-medium-extra-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.text-medium-link {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
}

.text-regular-light {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.text-regular-normal {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.text-regular-medium {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.text-regular-semi-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.text-regular-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.text-regular-extra-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 800;
}

.text-regular-link {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.text-small-light {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.text-small-normal {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.text-small-medium {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.text-small-semi-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.text-small-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.text-small-extra-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 800;
}

.text-small-link {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

.text-tiny-light {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.text-tiny-normal {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.text-tiny-medium {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.text-tiny-semi-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.text-tiny-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.text-tiny-extra-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 800;
}

.text-tiny-link {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
}

p {
  line-height: 150%;
}

body {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  color: #000000;
}
a.unstyled {
  text-decoration: none;
}

ul li, ol li {
  margin: 0.25rem 0 0.25rem 1.5rem;
}

ul.unstyled, .banner-right ul, ol.unstyled {
  list-style-type: none;
}
ul.unstyled li, .banner-right ul li, ol.unstyled li {
  margin: 0;
}

.text-center {
  text-align: center;
  text-wrap: balance;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: white;
}
html.contrast {
  background: #000000;
  color: #DDD133;
}
html.invert {
  filter: invert(1);
}
html.grayscale {
  filter: grayscale(1);
}
html.invert.grayscale {
  filter: invert(1) grayscale(1);
}
html.animation .aos-animate {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}
html.cursor {
  cursor: url("../img/accessibility/custom-cursor.png"), auto;
}
html.font-medium {
  font-size: 11px;
}
html.font-big {
  font-size: 12px;
}
html.spacing-medium {
  letter-spacing: 0.5px;
}
html.spacing-big {
  letter-spacing: 1px;
}

body {
  position: relative;
}

.container {
  padding-left: max(4vw, 24px);
  padding-right: max(4vw, 24px);
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1248px + 8vw);
}
.container .container {
  padding-left: 0;
  padding-right: 0;
}

button,
.btn {
  display: flex;
  padding: 8px 24px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 200ms ease;
  background-color: inherit;
  border: none;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 150%;
}
button svg, button img,
.btn svg,
.btn img {
  width: 24px;
  height: 24px;
}
button:disabled, button.disabled,
.btn:disabled,
.btn.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
button.btn-icon,
.btn.btn-icon {
  padding: 12px;
}
button.btn-small,
.btn.btn-small {
  height: 32px;
  padding: 0 20px;
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
button.btn-small.btn-icon,
.btn.btn-small.btn-icon {
  padding: 8px;
}
button.wide,
.btn.wide {
  width: 300px;
  min-width: fit-content;
  max-width: 100%;
  justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  button.wide,
  .btn.wide {
    width: auto;
  }
}
button.full-width,
.btn.full-width {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  button,
  .btn {
    width: 100%;
  }
}

.btn-primary {
  color: #333333;
  border: 1px solid #000000;
}
.btn-primary:hover {
  color: #FFA126;
  background-color: #FFFFFF;
}
.btn-primary:active {
  background-color: #F2F2F2;
}

.btn-secondary {
  color: #FFFFFF;
  background-color: #000000;
}
.btn-secondary:hover {
  background-color: rgb(25.5, 25.5, 25.5);
}
.btn-tertiary:hover {
  background-color: #FAFAFA;
}
.btn-tertiary:active {
  background-color: #F2F2F2;
}

.btn-link {
  padding: 0;
}

.btn-white {
  color: #333333;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 24px;
}

button.swiper-arrow {
  padding-left: 0;
  padding-right: 0;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  border: 1px solid #CCCCCC;
  padding: 10px 8px;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #666666;
}
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
  border-color: #FFA126;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
select::-webkit-outer-spin-button,
select::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled,
textarea:disabled,
select:disabled {
  border: none;
}
input.input-error,
textarea.input-error,
select.input-error {
  border: 1px solid #b42318;
  background-color: #fef3f2;
}

input.alternate,
textarea.alternate {
  height: 32px;
  background-color: #FAFAFA;
  border: none;
  border-radius: 24px;
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0 16px;
}
input.alternate.border,
textarea.alternate.border {
  border: 1px solid #333333;
}

input[type=checkbox],
input[type=radio] {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  accent-color: #000000;
}
input[type=checkbox].input-error,
input[type=radio].input-error {
  accent-color: #b42318;
}

textarea {
  height: auto;
  resize: none;
}

label {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-transform: uppercase;
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #333333;
}
label:has(input[type=checkbox]) {
  text-transform: none;
  flex-direction: row;
  gap: 8px;
}

.input-icon-leading {
  position: relative;
}
.input-icon-leading input {
  padding-left: 36px;
}
.input-icon-leading svg {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  color: #666666;
  transform: translateY(-50%);
}

.input-btn {
  position: relative;
}
.input-btn .btn {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .input-btn .btn {
    width: fit-content;
  }
}

.checkbox-container {
  display: flex;
  gap: 8px;
}

.switch-container {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}
.switch-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222222;
  transition: 0.4s;
  border-radius: 100px;
}
.switch::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #FFFFFF;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .switch {
  background-color: #000000;
}
input:checked:disabled + .switch {
  opacity: 0.5;
}
input:checked + .switch:before {
  transform: translateX(20px);
}

input:focus + .switch {
  box-shadow: 0 0 1px #000000;
}

.range-slider {
  background: #FAFAFA;
  height: 4px;
}
.range-slider .range-slider__thumb {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid #CCCCCC;
  box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.06);
}
.range-slider .range-slider__range {
  background: #000000;
}
.range-slider-container {
  width: 100%;
  padding-top: 8px;
}
.range-slider-inputs {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.range-slider-inputs input {
  width: 80px;
  text-align: center;
}

.form-row {
  display: flex;
  gap: 8px;
  margin: 12px 0;
}
.form-row .form-row {
  margin: 0;
}
.form-row, .form-row label {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}

.radio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.radio-card {
  border: 1px solid #CCCCCC;
  padding: 24px;
  display: flex;
  gap: 16px;
  position: relative;
  cursor: pointer;
}
.radio-card img {
  width: 56px;
  height: 56px;
  object-fit: contain;
}
.radio-card::before {
  content: "";
  border: 1px solid #CCCCCC;
  border-radius: 50%;
}
.radio-card svg, .radio-card::before {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 18px;
  height: 18px;
  z-index: 1;
}
.radio-card svg {
  color: #FFFFFF;
}
.radio-card:has(input:checked)::before {
  background-color: #CCCCCC;
}

.nav-top {
  height: 37px;
  background-color: #222222;
}
.nav-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-top-left {
  display: flex;
  gap: 48px;
  list-style-type: none;
}
.nav-top-left-link a {
  text-decoration: none;
  transition: all 0.3s;
}
.nav-top-left-link a:hover {
  color: #FFA126;
}
.nav-top-right {
  display: flex;
  gap: 24px;
}
.nav-top-right-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.nav-bottom {
  height: 70px;
}
.nav-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-bottom-menu {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav-bottom-menu-list {
  display: flex;
}
.nav-bottom-menu-link a {
  padding: 8px 12px;
}

.footer .container {
  display: flex;
  flex-direction: column;
}

.footer-top {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #333333;
  color: #FFFFFF;
}
.footer-top .container {
  display: grid;
  grid-template-columns: 45.03% 52.4%;
}
.footer-top-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-top-left img {
  width: 134px;
  height: 36px;
}
.footer-top-left-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-top-right-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.footer-top-right-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-top-right-submenu {
  display: flex;
  flex-direction: column;
}
.footer-top-right-submenu-socials {
  flex-direction: row;
  gap: 16px;
}

.footer-bottom {
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.footer-bottom-right {
  display: flex;
  gap: 24px;
  align-items: center;
}
.footer-bottom a {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}
.footer-bottom a svg {
  height: 26px;
  width: auto;
}

@media only screen and (max-width: 1260px) {
  .home-header {
    margin-top: 105px;
  }
}
.home-header .swiper {
  position: relative;
  color: #333333;
  height: clamp(380px, 70vh, 900px);
}
.home-header .swiper .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 4vw;
}
.home-header .swiper .content > * {
  max-width: 560px;
}
.home-header .swiper .content::before,
.home-header .swiper img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.home-header .swiper .content::before {
  content: "";
  background: #FFFFFF;
  opacity: 0.125;
  z-index: -1;
}
.home-header .swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}
.home-header .swiper .btn {
  margin-top: 32px;
}

.contrast .home-swiper-pagination.swiper-pagination {
  background: #000000;
}
.contrast .home-swiper-pagination.swiper-pagination .swiper-pagination-bullet {
  background: #DDD133;
  opacity: 0.5;
}
.contrast .home-swiper-pagination.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.overflow-hidden {
  overflow-x: hidden;
  max-width: 100vw;
}

.page-header {
  margin-top: 24px;
  margin-bottom: 64px;
}
.page-header-img {
  position: relative;
  padding: 96px 4vw;
  text-align: center;
  color: #FFFFFF;
}
.page-header-img::before,
.page-header-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-header-img::before {
  content: "";
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
}
.page-header-img img {
  z-index: -2;
  object-fit: cover;
}
.page-header .header-categories {
  margin-top: 48px;
}
.page-header.divided {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 80px;
}
@media only screen and (max-width: 1260px) {
  .page-header.divided {
    gap: 46px;
  }
}
@media only screen and (max-width: 992px) {
  .page-header.divided {
    gap: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .page-header.divided {
    grid-template-columns: 1fr;
  }
}
.page-header.divided img {
  width: 100%;
  height: auto;
  max-height: 50vh;
  object-fit: cover;
}

section, .container {
  width: 100%;
  scroll-margin-top: calc(var(--nav-height) + 37px);
}
section.mt-32, .container.mt-32 {
  margin-top: 32px;
}
section.mt-64, .container.mt-64 {
  margin-top: 64px;
}
@media only screen and (max-width: 992px) {
  section.mt-64, .container.mt-64 {
    margin-top: 32px;
  }
}
section.mb-32, .container.mb-32 {
  margin-bottom: 32px;
}
section.mb-64, .container.mb-64 {
  margin-bottom: 64px;
}
@media only screen and (max-width: 992px) {
  section.mb-64, .container.mb-64 {
    margin-bottom: 32px;
  }
}
section.pt-24, .container.pt-24 {
  padding-top: 24px;
}
section.pt-32, .container.pt-32 {
  padding-top: 32px;
}
section.pt-46, .container.pt-46 {
  padding-top: 46px;
}
section.pt-48, .container.pt-48 {
  padding-top: 48px;
}
section.pt-64, .container.pt-64 {
  padding-top: 64px;
}
@media only screen and (max-width: 992px) {
  section.pt-64, .container.pt-64 {
    padding-top: 32px;
  }
}
section.pt-80, .container.pt-80 {
  padding-top: 80px;
}
@media only screen and (max-width: 992px) {
  section.pt-80, .container.pt-80 {
    padding-top: 32px;
  }
}
section.pb-24, .container.pb-24 {
  padding-bottom: 24px;
}
section.pb-32, .container.pb-32 {
  padding-bottom: 32px;
}
section.pb-46, .container.pb-46 {
  padding-bottom: 46px;
}
section.pb-48, .container.pb-48 {
  padding-bottom: 48px;
}
section.pb-64, .container.pb-64 {
  padding-bottom: 64px;
}
@media only screen and (max-width: 992px) {
  section.pb-64, .container.pb-64 {
    padding-bottom: 32px;
  }
}
section.pb-80, .container.pb-80 {
  padding-bottom: 80px;
}
@media only screen and (max-width: 992px) {
  section.pb-80, .container.pb-80 {
    padding-bottom: 32px;
  }
}
section.pb-96, .container.pb-96 {
  padding-bottom: 96px;
}
@media only screen and (max-width: 992px) {
  section.pb-96, .container.pb-96 {
    padding-bottom: 32px;
  }
}
section.gap-16, .container.gap-16 {
  gap: 16px;
}
section.gap-24, .container.gap-24 {
  gap: 24px;
}
section.gap-28, .container.gap-28 {
  gap: 28px;
}
section.gap-32, .container.gap-32 {
  gap: 32px;
}
@media only screen and (max-width: 992px) {
  section.gap-32, .container.gap-32 {
    gap: 16px;
  }
}
section.gap-40, .container.gap-40 {
  gap: 40px;
}
section.gap-46, .container.gap-46 {
  gap: 46px;
}
@media only screen and (max-width: 992px) {
  section.gap-46, .container.gap-46 {
    gap: 32px;
  }
}
section.gap-48, .container.gap-48 {
  gap: 48px;
}
@media only screen and (max-width: 992px) {
  section.gap-48, .container.gap-48 {
    gap: 32px;
  }
}
section.gap-64, .container.gap-64 {
  gap: 64px;
}
@media only screen and (max-width: 992px) {
  section.gap-64, .container.gap-64 {
    gap: 32px;
  }
}
section.gap-80, .container.gap-80 {
  gap: 80px;
}
@media only screen and (max-width: 992px) {
  section.gap-80, .container.gap-80 {
    gap: 32px;
  }
}
section.gap-96, .container.gap-96 {
  gap: 96px;
}
@media only screen and (max-width: 992px) {
  section.gap-96, .container.gap-96 {
    gap: 46px;
  }
}
section.grid, .container.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 992px) {
  section.grid, .container.grid {
    grid-template-columns: 1fr;
  }
}
section.flex, .container.flex {
  display: flex;
  flex-direction: column;
}
section.left, .container.left {
  align-items: flex-start;
}
section.center, .container.center {
  align-items: center;
}
section.background, .container.background {
  margin-top: 42px;
  margin-bottom: 42px;
  padding-top: 64px;
  padding-bottom: 64px;
  position: relative;
}
section.background::before, .container.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100vw - 20px);
  height: 100%;
  background-color: #FAFAFA;
  z-index: -1;
}
section.max-1000, .container.max-1000 {
  max-width: calc(1000px + 8vw);
}
section.max-1200, .container.max-1200 {
  max-width: calc(1200px + 8vw);
}
section .rich-text, .container .rich-text {
  margin: 16px 0;
}
section .rich-text p, .container .rich-text p {
  margin: 16px 0;
}
section .section-header, .container .section-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
section .section-header p, .container .section-header p {
  margin: 0;
}
section .section-header.center, .container .section-header.center {
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  section .section-header.center, .container .section-header.center {
    max-width: unset;
  }
}
section .section-header.left, .container .section-header.left {
  max-width: 768px;
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
}
section .section-header .titles, .container .section-header .titles {
  display: flex;
  flex-direction: column;
}
section .section-header .rich-text, .container .section-header .rich-text {
  margin: 0;
}
section .section-title, .container .section-title {
  display: block;
  margin: 0;
}
section .section-subtitle, .container .section-subtitle {
  display: block;
  margin: 0;
  font-weight: 400;
}
section .section-content, .container .section-content {
  width: 100%;
}
section .section-column, .container .section-column {
  width: 100%;
}
section .section-column.width-768, .container .section-column.width-768 {
  max-width: 768px;
}

.header {
  height: 418px;
  width: 100vw;
  position: relative;
}
.header .container {
  height: 100%;
}
.header-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.header-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-swiper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .swiper-slide {
  display: flex;
  flex-direction: column;
  padding-top: 88px;
  gap: 32px;
}
.header .swiper-horizontal > .swiper-pagination-bullets, .header .swiper-pagination-bullets.swiper-pagination-horizontal, .header .swiper-pagination-custom, .header .swiper-pagination-fraction {
  position: absolute;
  left: 32px;
  bottom: 64px;
  width: auto;
}
.header .swiper-pagination-bullet {
  background: #FFFFFF;
  opacity: 1;
}
.header .swiper-pagination-bullet-active {
  background-color: #FFA126;
}

.text-table .section-content {
  background-color: #FAFAFA;
}
.text-table .section-content .container {
  display: flex;
  justify-content: center;
}
.text-table .section-content ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
  list-style-type: none;
  max-width: 930px;
}
.text-table .section-content ul li {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.text-table .section-content ul li strong {
  color: #FFA126;
}

.offers {
  width: 100%;
}
.offers .container {
  display: flex;
  flex-direction: column;
}
.offers-offers {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}
.offers-offers-list {
  display: flex;
  flex-direction: column;
}
.offers-offers-item {
  padding: 32px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
}
.offers-offers-item .titles {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.offers-offers-item .info {
  display: flex;
  justify-content: space-between;
}
.offers-offers-item .info-localization {
  display: flex;
  gap: 8px;
  align-items: center;
}
.offers-banner {
  position: relative;
  width: 100%;
}
.offers-banner-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.offers-banner-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.offers-banner-info {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 67px 32px 51px;
  max-width: 560px;
  background-color: rgba(0, 0, 0, 0.4);
}
.offers-banner-info .titles {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.map .container {
  flex-direction: column;
}
.map .section-content {
  position: relative;
}
.map .section-content iframe {
  width: 100%;
  max-height: 363px;
}
.map .section-content a {
  position: absolute;
  top: 12px;
  left: 12px;
}

.reviews .container {
  flex-direction: column;
}
.reviews .section-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.reviews .section-content .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;
  border: 1px solid #CCCCCC;
}
.reviews-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  align-items: center;
}
.reviews-buttons-nav {
  display: flex;
  gap: 16px;
}
.reviews-buttons .swiper-pagination-bullet-active {
  background-color: #000000;
}

.steps {
  background-color: #FAFAFA;
}
.steps .container {
  flex-direction: column;
}
.steps .section-header {
  gap: 16px;
}
.steps .section-header h2 {
  font-size: 22px;
}
.steps .section-content ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
}
.steps .section-content ul li {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  font-size: 20px;
  line-height: 140%;
  font-weight: 600;
  position: relative;
  text-align: center;
}
.steps .section-content ul li img {
  margin-bottom: 19px;
}
.steps .section-content ul li:nth-child(1):after {
  content: "";
}
.steps .section-content ul li:nth-child(2):after, .steps .section-content ul li:nth-child(3):after {
  content: "";
}
.steps .section-content ul li:nth-child(2):before, .steps .section-content ul li:nth-child(3):before {
  content: "";
}
.steps .section-content ul li:nth-child(4):before {
  content: "";
}
.steps .section-content ul li:before {
  width: 105px;
  height: 1px;
  background-color: #CCCCCC;
  position: absolute;
  top: 83px;
  left: 0;
}
.steps .section-content ul li:after {
  width: 105px;
  height: 1px;
  background-color: #CCCCCC;
  position: absolute;
  top: 83px;
  right: 0;
}
.steps .section-content ul li strong {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  line-height: 120%;
  font-weight: 700;
  color: #FFFFFF;
  z-index: 3;
}
.steps .section-content ul li strong:before {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: #FFA126;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.banner .container {
  flex-direction: column;
}
.banner .section-header {
  font-size: 22px;
  line-height: 120%;
}
.banner .section-content {
  position: relative;
  display: grid;
  grid-template-columns: 31% 61.29%;
  justify-content: space-between;
  padding: 16px;
}
.banner-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.banner-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-left ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.banner-left ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  gap: 12px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.3s;
}
.banner-left ul li svg path {
  fill: #FFA126;
}
.banner-left ul li.active {
  background: linear-gradient(90deg, #EF8D3C 0%, #FFA126 100%);
}
.banner-left ul li.active svg path {
  fill: #FFFFFF;
}
.banner-right {
  padding-top: 16px;
}
.banner-right ul {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}
.banner-right ul li {
  display: none;
  flex-direction: column;
  gap: 27px;
}
.banner-right ul li.active {
  display: flex;
}
.banner-right ul strong {
  font-size: 28px;
  font-weight: 700;
  line-height: 130%;
  padding-bottom: 13px;
  border-bottom: 1px solid #FFFFFF;
}

/*# sourceMappingURL=main.css.map */
