@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.background-primary {
  background-color: #FFFFFF;
}

.background-secondary {
  background-color: #F2F2F2;
}

.background-tertiary {
  background-color: #222222;
}

.background-alternate {
  background-color: #333333;
}

.background-success {
  background-color: #ecfdf3;
}

.background-error {
  background-color: #fef3f2;
}

.border-primary {
  border-color: #F2F2F2;
}

.border-secondary {
  border-color: #333333;
}

.border-tertiary {
  border-color: #444444;
}

.border-alternate {
  border-color: #FFFFFF;
}

.border-success {
  border-color: #027A48;
}

.border-error {
  border-color: #b42318;
}

.text-primary {
  color: #333333;
}

.text-secondary {
  color: #666666;
}

.text-alternate {
  color: #FFFFFF;
}

.text-success {
  color: #027A48;
}

.text-error {
  color: #b42318;
}

.link-primary {
  color: #000000;
}

.link-secondary {
  color: #666666;
}

.link-alternate {
  color: #FFFFFF;
}

.shadow-xxsmall {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.shadow-xsmall {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.shadow-small {
  box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.06);
}

.shadow-medium {
  box-shadow: 0px 12px 16px -4px rgba(0, 0, 0, 0.08), 0px 4px 6px -2px rgba(0, 0, 0, 0.03);
}

.shadow-large {
  box-shadow: 0px 20px 24px -4px rgba(0, 0, 0, 0.08), 0px 8px 8px -4px rgba(0, 0, 0, 0.03);
}

.shadow-xlarge {
  box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.18);
}

.shadow-xxlarge {
  box-shadow: 0px 32px 64px -12px rgba(0, 0, 0, 0.14);
}

h1, .heading-h1 {
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  h1, .heading-h1 {
    line-height: 120%;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 600;
  }
}

h2, .heading-h2 {
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  h2, .heading-h2 {
    line-height: 120%;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
  }
}

h3, .heading-h3 {
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  h3, .heading-h3 {
    line-height: 120%;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 700;
  }
}

h4, .heading-h4 {
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  h4, .heading-h4 {
    line-height: 120%;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
  }
}

h5, .heading-h5 {
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  h5, .heading-h5 {
    line-height: 120%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
}

h6, .heading-h6 {
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  h6, .heading-h6 {
    line-height: 120%;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
  }
}

.heading-tagline {
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 1rem;
}

.text-large-light {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.text-large-normal {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.text-large-medium {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.text-large-semi-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.text-large-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.text-large-extra-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.text-large-link {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
}

.text-medium-light {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.text-medium-normal {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.text-medium-medium {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.text-medium-semi-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.text-medium-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.text-medium-extra-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.text-medium-link {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
}

.text-regular-light {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.text-regular-normal {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.text-regular-medium {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.text-regular-semi-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.text-regular-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.text-regular-extra-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 800;
}

.text-regular-link {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.text-small-light {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.text-small-normal {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.text-small-medium {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.text-small-semi-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.text-small-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.text-small-extra-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 800;
}

.text-small-link {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

.text-tiny-light {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.text-tiny-normal {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.text-tiny-medium {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.text-tiny-semi-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.text-tiny-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.text-tiny-extra-bold {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 800;
}

.text-tiny-link {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
}

p {
  line-height: 150%;
}

body {
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  color: #000000;
}
a.unstyled {
  text-decoration: none;
}

ul li, ol li {
  margin: 0.25rem 0 0.25rem 1.5rem;
}

ul.unstyled, ol.unstyled {
  list-style-type: none;
}
ul.unstyled li, ol.unstyled li {
  margin: 0;
}

.text-center {
  text-align: center;
  text-wrap: balance;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: white;
}
html.contrast {
  background: #000000;
  color: #DDD133;
}
html.invert {
  filter: invert(1);
}
html.grayscale {
  filter: grayscale(1);
}
html.invert.grayscale {
  filter: invert(1) grayscale(1);
}
html.animation .aos-animate {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}
html.cursor {
  cursor: url("../img/accessibility/custom-cursor.png"), auto;
}
html.font-medium {
  font-size: 11px;
}
html.font-big {
  font-size: 12px;
}
html.spacing-medium {
  letter-spacing: 0.5px;
}
html.spacing-big {
  letter-spacing: 1px;
}

body {
  position: relative;
}

.container {
  padding-left: 4vw;
  padding-right: 4vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 1248px;
}
.container .container {
  padding-left: 0;
  padding-right: 0;
}

button,
.btn {
  display: flex;
  padding: 8px 24px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 200ms ease;
  background-color: inherit;
  border: none;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 150%;
}
button svg, button img,
.btn svg,
.btn img {
  width: 24px;
  height: 24px;
}
button:disabled, button.disabled,
.btn:disabled,
.btn.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
button.btn-icon,
.btn.btn-icon {
  padding: 12px;
}
button.btn-small,
.btn.btn-small {
  height: 32px;
  padding: 0 20px;
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
button.btn-small.btn-icon,
.btn.btn-small.btn-icon {
  padding: 8px;
}
button.wide,
.btn.wide {
  width: 300px;
  min-width: fit-content;
  max-width: 100%;
  justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  button.wide,
  .btn.wide {
    width: auto;
  }
}
button.full-width,
.btn.full-width {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  button,
  .btn {
    width: 100%;
  }
}

.btn-primary {
  color: #333333;
  border: 1px solid #000000;
}
.btn-primary:hover {
  color: #FFA126;
  background-color: #FFFFFF;
}
.btn-primary:active {
  background-color: #F2F2F2;
}

.btn-secondary {
  color: #FFFFFF;
  background-color: #000000;
}
.btn-secondary:hover {
  background-color: rgb(25.5, 25.5, 25.5);
}
.btn-tertiary:hover {
  background-color: #FAFAFA;
}
.btn-tertiary:active {
  background-color: #F2F2F2;
}

.btn-link {
  padding: 0;
}

button.swiper-arrow {
  padding-left: 0;
  padding-right: 0;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  border: 1px solid #F2F2F2;
  padding: 10px 8px;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #666666;
}
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
  border-color: #FFA126;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
select::-webkit-outer-spin-button,
select::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled,
textarea:disabled,
select:disabled {
  border: none;
}
input.input-error,
textarea.input-error,
select.input-error {
  border: 1px solid #b42318;
  background-color: #fef3f2;
}

input.alternate,
textarea.alternate {
  height: 32px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 24px;
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0 16px;
}
input.alternate.border,
textarea.alternate.border {
  border: 1px solid #333333;
}

input[type=checkbox],
input[type=radio] {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  accent-color: #000000;
}
input[type=checkbox].input-error,
input[type=radio].input-error {
  accent-color: #b42318;
}

textarea {
  height: auto;
  resize: none;
}

label {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-transform: uppercase;
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #333333;
}
label:has(input[type=checkbox]) {
  text-transform: none;
  flex-direction: row;
  gap: 8px;
}

.input-icon-leading {
  position: relative;
}
.input-icon-leading input {
  padding-left: 36px;
}
.input-icon-leading svg {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  color: #666666;
  transform: translateY(-50%);
}

.input-btn {
  position: relative;
}
.input-btn .btn {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .input-btn .btn {
    width: fit-content;
  }
}

.checkbox-container {
  display: flex;
  gap: 8px;
}

.switch-container {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}
.switch-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222222;
  transition: 0.4s;
  border-radius: 100px;
}
.switch::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #FFFFFF;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .switch {
  background-color: #000000;
}
input:checked:disabled + .switch {
  opacity: 0.5;
}
input:checked + .switch:before {
  transform: translateX(20px);
}

input:focus + .switch {
  box-shadow: 0 0 1px #000000;
}

.range-slider {
  background: #FAFAFA;
  height: 4px;
}
.range-slider .range-slider__thumb {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid #F2F2F2;
  box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.06);
}
.range-slider .range-slider__range {
  background: #000000;
}
.range-slider-container {
  width: 100%;
  padding-top: 8px;
}
.range-slider-inputs {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.range-slider-inputs input {
  width: 80px;
  text-align: center;
}

.form-row {
  display: flex;
  gap: 8px;
  margin: 12px 0;
}
.form-row .form-row {
  margin: 0;
}
.form-row, .form-row label {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}

.radio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.radio-card {
  border: 1px solid #F2F2F2;
  padding: 24px;
  display: flex;
  gap: 16px;
  position: relative;
  cursor: pointer;
}
.radio-card img {
  width: 56px;
  height: 56px;
  object-fit: contain;
}
.radio-card::before {
  content: "";
  border: 1px solid #F2F2F2;
  border-radius: 50%;
}
.radio-card svg, .radio-card::before {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 18px;
  height: 18px;
  z-index: 1;
}
.radio-card svg {
  color: #FFFFFF;
}
.radio-card:has(input:checked)::before {
  background-color: #F2F2F2;
}

.nav-top {
  height: 37px;
  background-color: #222222;
}
.nav-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-top-left {
  display: flex;
  gap: 48px;
  list-style-type: none;
}
.nav-top-left-link a {
  text-decoration: none;
  transition: all 0.3s;
}
.nav-top-left-link a:hover {
  color: #FFA126;
}
.nav-top-right {
  display: flex;
  gap: 24px;
}
.nav-top-right-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.nav-bottom {
  height: 70px;
}
.nav-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-bottom-menu {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav-bottom-menu-list {
  display: flex;
}
.nav-bottom-menu-link a {
  padding: 8px 12px;
}

.footer-top {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #333333;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
}
.footer-top .container, .footer-top .container ul {
  display: flex;
  gap: 10%;
}
.footer-top .container ul {
  flex-grow: 1;
}
.footer-top .container ul li {
  width: 100%;
}
.footer-top .container .social-media-menu {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.footer-top .container .social-media-menu li {
  width: fit-content;
}
.footer-top .container .social-media-menu svg {
  color: #FFFFFF;
  width: 32px;
  height: 32px;
}
@media only screen and (max-width: 1260px) {
  .footer-top .container {
    flex-direction: column;
    gap: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .footer-top .container ul {
    flex-direction: column;
    gap: 24px;
  }
  .footer-top .container .social-media-menu {
    flex-direction: row;
  }
}
.footer-top .logo {
  width: auto;
  height: 24px;
  margin-bottom: 24px;
}
.footer-top p {
  margin: 12px 0;
}
.footer-top .text-medium-medium {
  display: block;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 24px;
}
.footer-top .footer-submenu {
  flex-direction: column;
  gap: 16px;
}

.footer-bottom {
  padding-top: 64px;
  padding-bottom: 64px;
}
.footer-bottom a {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  width: 100%;
}
.footer-bottom a svg {
  height: 26px;
  width: auto;
}

@media only screen and (max-width: 1260px) {
  .home-header {
    margin-top: 105px;
  }
}
.home-header .swiper {
  position: relative;
  color: #333333;
  height: clamp(380px, 70vh, 900px);
}
.home-header .swiper .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 4vw;
}
.home-header .swiper .content > * {
  max-width: 560px;
}
.home-header .swiper .content::before,
.home-header .swiper img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.home-header .swiper .content::before {
  content: "";
  background: #FFFFFF;
  opacity: 0.125;
  z-index: -1;
}
.home-header .swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}
.home-header .swiper .btn {
  margin-top: 32px;
}

.contrast .home-swiper-pagination.swiper-pagination {
  background: #000000;
}
.contrast .home-swiper-pagination.swiper-pagination .swiper-pagination-bullet {
  background: #DDD133;
  opacity: 0.5;
}
.contrast .home-swiper-pagination.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.overflow-hidden {
  overflow-x: hidden;
  max-width: 100vw;
}

.page-header {
  margin-top: 24px;
  margin-bottom: 64px;
}
.page-header-img {
  position: relative;
  padding: 96px 4vw;
  text-align: center;
  color: #FFFFFF;
}
.page-header-img::before,
.page-header-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-header-img::before {
  content: "";
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
}
.page-header-img img {
  z-index: -2;
  object-fit: cover;
}
.page-header .header-categories {
  margin-top: 48px;
}
.page-header.divided {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 80px;
}
@media only screen and (max-width: 1260px) {
  .page-header.divided {
    gap: 46px;
  }
}
@media only screen and (max-width: 992px) {
  .page-header.divided {
    gap: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .page-header.divided {
    grid-template-columns: 1fr;
  }
}
.page-header.divided img {
  width: 100%;
  height: auto;
  max-height: 50vh;
  object-fit: cover;
}

section {
  margin-top: 80px;
  margin-bottom: 80px;
}
section.background {
  margin-top: 42px;
  margin-bottom: 42px;
  padding-top: 64px;
  padding-bottom: 64px;
  position: relative;
}
section.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100vw - 20px);
  height: 100%;
  background-color: #F2F2F2;
  z-index: -1;
}
section .rich-text {
  margin: 24px 0;
}
section .rich-text p {
  margin: 24px 0;
}
section .section-header {
  margin-bottom: 46px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;
}
section .section-header.center {
  max-width: 900px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
section .section-header .rich-text {
  margin-bottom: 0;
}
section .section-title {
  display: block;
  margin: 0;
  font-weight: 400;
}
section .section-title.decorative {
  position: relative;
  padding-bottom: 16px;
  width: fit-content;
}
section .section-title.decorative::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -64px;
  width: 48vw;
  height: 1px;
  background-color: #333333;
}
@media only screen and (max-width: 992px) {
  section .section-title.decorative::after {
    right: 0;
    left: auto;
  }
}
section .section-title.decorative.reverse::after {
  right: auto;
  left: 0;
}
@media only screen and (max-width: 992px) {
  section .section-title.decorative.reverse::after {
    right: 0;
    left: auto;
  }
}
section .section-subtitle {
  display: block;
  margin: 0 0 16px;
  font-weight: 400;
}
@media only screen and (max-width: 768px) {
  section {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}

.header {
  height: 418px;
  width: 100vw;
  position: relative;
}
.header-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.header-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */
