.home-header {
    margin-top: $total-nav-height;

    @include breakpoint('tab-land') {
        margin-top: $nav-height * 1.5;
    }

    .swiper{
        position: relative;
        color: $text-primary;
        height: clamp(380px, 70vh, 900px);

        .content{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 24px 4vw;

            & > *{
                max-width: 560px;
            }
        }

        .content::before,
        img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .content::before{
            content: '';
            background: $color-white;
            opacity: 0.125;
            z-index: -1;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            z-index: -2;
        }

        .btn{
            margin-top: 32px;
        }
    }
}

.contrast {
    .home-swiper-pagination.swiper-pagination {
        background: $color-black;
        .swiper-pagination-bullet {
            background: $color-contrast;
            opacity: 0.5;
            &.swiper-pagination-bullet-active {
                opacity: 1;
            }
        }
    }
}