.overflow-hidden {
  overflow-x: hidden;
  max-width: 100vw;
}

.page-header {
  margin-top: 24px;
  margin-bottom: 64px;

  &-img {
	position: relative;
	padding: 96px 4vw;
	text-align: center;
	color: $text-alternate;

	&::before,
	img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}

	&::before {
	  content: '';
	  z-index: -1;
	  background: rgba(0, 0, 0, 0.5);
	}

	img {
	  z-index: -2;
	  object-fit: cover;
	}
  }

  .header-categories {
	margin-top: 48px;
  }

  &.divided {
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 80px;

	@include breakpoint(tab-land) {
	  gap: 46px;
	}

	@include breakpoint(tab-port) {
	  gap: 24px;
	}

	@include breakpoint(phone) {
	  grid-template-columns: 1fr;
	}

	img {
	  width: 100%;
	  height: auto;
	  max-height: 50vh;
	  object-fit: cover;
	}
  }
}

section {
  margin-top: 80px;
  margin-bottom: 80px;

  &.background {
	margin-top: 42px;
	margin-bottom: 42px;
	padding-top: 64px;
	padding-bottom: 64px;
	position: relative;

	&::before {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 50%;
	  transform: translateX(-50%);
	  width: calc(100vw - 20px);
	  height: 100%;
	  background-color: $background-secondary;
	  z-index: -1;
	}
  }

  .rich-text {
	margin: 24px 0;

	p {
	  margin: 24px 0;
	}
  }

  .section-header {
	margin-bottom: 46px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 24px;

	&.center {
	  max-width: 900px;
	  margin: 0 auto;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	}

	.rich-text {
	  margin-bottom: 0;
	}
  }

  .section-title {
	display: block;
	margin: 0;
	font-weight: 400;

	&.decorative {
	  position: relative;
	  padding-bottom: 16px;
	  width: fit-content;

	  &::after {
		content: '';
		position: absolute;
		bottom: 0;
		right: -64px;
		width: 48vw;
		height: 1px;
		background-color: $text-primary;

		@include breakpoint(tab-port) {
		  right: 0;
		  left: auto;
		}
	  }

	  &.reverse {
		&::after {
		  right: auto;
		  left: 0;

		  @include breakpoint(tab-port) {
			right: 0;
			left: auto;
		  }
		}
	  }
	}
  }

  .section-subtitle {
	display: block;
	margin: 0 0 16px;
	font-weight: 400;
  }

  @include breakpoint(phone) {
	margin-top: 64px;
	margin-bottom: 64px;
  }
}

.header {
  height: 418px;
  width: 100vw;
  position: relative;

  &-bg {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;

	video {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
  }
}
