.footer {
  .container {
	display: flex;
	flex-direction: column;
  }
}

.footer-top {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: $background-alternate;
  color: $text-alternate;

  .container {
	display: grid;
	grid-template-columns:45.03% 52.40%;
  }

  &-left {
	display: flex;
	flex-direction: column;
	gap: 24px;

	img {
	  width: 134px;
	  height: 36px;
	}

	&-info {
	  display: flex;
	  flex-direction: column;
	  gap: 8px;
	}
  }

  &-right {
	&-menu {
	  display: grid;
	  grid-template-columns: repeat(3, 1fr);
	  gap: 24px;
	}

	&-item {
	  display: flex;
	  flex-direction: column;
	  gap: 8px;
	}

	&-submenu {
	  display: flex;
	  flex-direction: column;

	  &-socials {
		flex-direction: row;
		gap: 16px;
	  }
	}
  }

}

.footer-bottom {
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
  }

  &-right {
	display: flex;
	gap: 24px;
	align-items: center;
  }

  a {
	margin-top: 8px;
	display: flex;
	align-items: center;
	gap: 4px;
	justify-content: center;
	width: 100%;
	text-decoration: none;

	svg {
	  height: 26px;
	  width: auto;
	}
  }
}