$nav-height: 70px;
$nav-top: 37px;
.nav {
  &-top {
	.container {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  height: 100%;
	}

	height: $nav-top;
	background-color: $background-tertiary;

	&-left {
	  display: flex;
	  gap: 48px;
	  list-style-type: none;

	  &-link {
		a {
		  text-decoration: none;
		  transition: all .3s;

		  &:hover {
			color: $color-primary;
		  }
		}
	  }
	}

	&-right {
	  display: flex;
	  gap: 24px;

	  &-link {
		a {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  text-decoration: none;
		}
	  }
	}
  }

  &-bottom {
	height: $nav-height;

	.container {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  height: 100%;
	}

	&-menu {
	  display: flex;
	  align-items: center;
	  gap: 12px;

	  &-list {
		display: flex;
	  }

	  &-link {
		a {
		  padding: 8px 12px;

		}
	  }
	}
  }
}