.pagination{
    margin: 32px 0;
    width: 100%;
    gap: 12px;

    &, ul{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    ul{
        gap: 4px;
    }

    @include breakpoint(phone){
        &, ul{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn span{
            display: none;
        }
    }
}