*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: white;

  &.contrast {
    background: $color-black;
    color: $color-contrast;
  }
  
  &.invert {
    filter: invert(1);
  }
  
  &.grayscale {
    filter: grayscale(1);
  }
  
  &.invert.grayscale {
    filter: invert(1) grayscale(1);
  }
  
  &.animation {
    .aos-animate {
      -o-transition-property: none !important;
      -moz-transition-property: none !important;
      -ms-transition-property: none !important;
      -webkit-transition-property: none !important;
      transition-property: none !important;

      -o-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      -webkit-transform: none !important;
      transform: none !important;

      -webkit-animation: none !important;
      -moz-animation: none !important;
      -o-animation: none !important;
      -ms-animation: none !important;
      animation: none !important;
    }
  }
  
  &.cursor {
    cursor: url("../img/accessibility/custom-cursor.png"), auto;
  }
  
  &.font-medium {
    font-size: 11px;
  }
  
  &.font-big {
    font-size: 12px;
  }
  
  &.spacing-medium {
    letter-spacing: 0.5px;
  }
  
  &.spacing-big {
    letter-spacing: 1px;
  }
}

body {
  position: relative;
}

.container {
  padding-left: 4vw;
  padding-right: 4vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 1248px;

  .container{
    padding-left: 0;
    padding-right: 0;
  }
}
