button,
.btn {
  display: flex;
  padding: 8px 24px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 200ms ease;
  background-color: inherit;
  border: none;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;

  font-family: $font-primary;
  font-weight: 600;
  font-size: 10px;
  line-height: 150%;

  svg, img {
	width: 24px;
	height: 24px;
  }

  &:disabled,
  &.disabled {
	cursor: not-allowed;
	opacity: 0.5;
  }

  &.btn-icon {
	padding: 12px;
  }

  &.btn-small {
	height: 32px;
	padding: 0 20px;
	@include text-style(14px, 400);
	font-family: $font-primary;

	&.btn-icon {
	  padding: 8px;
	}
  }

  &.wide {
	width: 300px;
	min-width: fit-content;
	max-width: 100%;
	justify-content: space-between;

	@include breakpoint(tab-port) {
	  width: auto;
	}
  }

  &.full-width {
	width: 100%;
  }

  @include breakpoint(phone) {
	width: 100%;
  }
}

.btn-primary {
  color: $text-primary;
  border: 1px solid $color-black;

  &:hover {
	color: $color-primary;
	background-color: $background-primary;
  }

  &:active {
	background-color: $color-neutral-lighter;
  }

}

.btn-secondary {
  color: $text-alternate;
  background-color: $color-black;

  &:hover {
	background-color: lighten($color-black, 10%);
  }

  &:active {
	//background-color: $color-neutral-lighter;
  }
}

.btn-tertiary {
  &:hover {
	background-color: $color-neutral-lightest;
  }

  &:active {
	background-color: $color-neutral-lighter;
  }
}

.btn-link {
  padding: 0;
}

.btn-white {
  color: $text-primary;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 24px;
}

button.swiper-arrow {
  padding-left: 0;
  padding-right: 0;
}